p {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    }

.center {
    text-align: center;
    color: white;
    background-color: #055EA4;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
    margin: 0px;
}

img{
    width: 500px;
    height: 400px;
    align-content: center;
}

.hero-image{
    background-image: url("./images/gray-bk-image.jpg");
    background-size: cover;
    padding: 50px;
    margin: 10px;
}

#main-title{
    background-color: #aa0c00;
}
.row {
    display: flex;
    justify-content: center;
}

.column {
    flex: 50%;
    padding: 5px;
}
